// Typography
$family-sans-serif: "Lato", sans-serif;
$family-monospace: "Ubuntu Mono", monospace;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$blurple: #7289da;
$greyple: #99aab5;
$dark-not-black: #2c2f33;
$nqblack: #23272a;

// Body
$body-background-color: $nqblack;

$primary: $blurple;
$info: $cyan;
$success: $green;
$warning: $orange;
$danger: $red;
$light: $greyple;
$dark: $dark-not-black;
$background: $nqblack;
$text: white;
$text-strong: white;
$label-color: white;

// Pricing table variables
$pricing-plan-border: none;
$pricing-plan-border-radius: 0;
$pricing-header-background: $dark-not-black;
$pricing-item-background: $nqblack;
$pricing-item-border: .1rem solid $dark-not-black;
$pricing-item-color: white;
$pricing-price-background: $dark-not-black;